[submodule "doxygen"]
	path = doxygen
	url = https://github.com/Embedbits/Artifact-doxygen.git
[submodule "gcc"]
	path = gcc
	url = https://github.com/Embedbits/Artifact-gcc.git
[submodule "gcc_arm_none_eabi"]
	path = gcc_arm_none_eabi
	url = https://github.com/Embedbits/Artifact-gcc_arm_none_eabi.git
[submodule "graphviz"]
	path = graphviz
	url = https://github.com/Embedbits/Artifact-graphviz.git
[submodule "ninja"]
	path = ninja
	url = https://github.com/Embedbits/Artifact-ninja.git
[submodule "probe_rs"]
	path = probe_rs
	url = https://github.com/Embedbits/Artifact-probe_rs.git
[submodule "python"]
	path = python
	url = https://github.com/Embedbits/Artifact-python.git
[submodule "u8g2"]
	path = u8g2
	url = https://github.com/Embedbits/Artifact-u8g2.git
